.content {
  display: flex;
  flex-direction: column;
}

.image_left {
  width: 408px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.image_right {
  width: 408px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding-top: 64px;
  padding-left: 64px;
  padding-bottom: 64px;
  padding-right: 64px;
  background-color: aqua;
}

.image__card {
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}

.item {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-top: 72px;
}

.heads {
  color: #252525;
  font-family: Avenir;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 142.857% */
  width: 444px;
  height: 231px;
}

.text {
  padding-top: 24px;
  color: rgba(37, 37, 37, 0.8);
  font-family: Avenir;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 386px;
}

button {
  padding-top: 24px;
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: #252525;
  color: aliceblue;
}

.image_left {
  width: 408px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>) aqua 50% / cover no-repeat;
}

.image_right {
  padding-top: 152px;
  width: 408px;
  height: 480px;
  flex-shrink: 0;
  border-radius: 16px;
  background: url(<path-to-image>) aqua 50% / cover no-repeat;
}

.image__card {
  padding-top: 72px;
}

.frameone {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.frametwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.framethree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.frame14157 {
  color: rgba(37, 37, 37, 0.25);
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 368px;
}
