body {
  max-width: 100%;
}

.content {
  display: flex;
}

.just {
  color: #252525;
  font-family: Avenir;
  font-size: 88px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px; /* 90.909% */
  width: 674px;
  padding-left: 64px;
  padding-top: 122px;
}

.button-lorem {
  display: flex;
}

.lorem-ipsum {
  color: rgba(37, 37, 37, 0.8);
  font-family: Avenir;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 526px;
  padding-top: 122px;
  padding-right: 64px;
  padding-left: 113px;
}

button {
  padding-top: 24px;
  display: flex;
  padding: 16px 32px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 16px;
  background: #252525;
  color: aliceblue;
}

.button{
  padding-left: 113px;
}


.hero-image {
  width: 90%;
  height: 60%;
  flex-shrink: 0;
  padding-left: 64px;
  padding-top: 122px;
  padding-bottom: 56px;
  padding-right: 64px;
}


@media only screen and (max-width: 621px) {
    
    .content {
      display: grid;
      justify-content: space-evenly;
    }

    .lorem-ipsum {
      font-size: 42px;
  }

}

@media only screen and (max-width: 821px) {
  
 body{
  display: grid;
 }

 .lorem-ipsum {
  font-size: 42px;
}

}

@media only screen and (max-width: 1281px) {

.content {
  display: grid;
  justify-content: space-evenly;
}

.button {
  padding-left: 252px;
  padding-top: 50px;
}

.hero-image {
  padding-top: 85px;
}

}